/**
 * 1. All elements are border box
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box; /* 1 */
 }

/**
 * 2. Font is Tahoma, Helvetica, Arial, "Tahoma", sans serif
 * 3. Row height is 1.15
 */
 html {
   font-family: Tahoma, Helvetica, Arial, "宋体", sans-serif; /* 2 */
   line-height: 1.15; /* 3 */
 }

 /**
 * 4. Remove default margin
 */
 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 figure,
 blockquote,
 dl,
 dd {
   margin: 0; /* 4 */
 }

/**
 * 5. Remove default Style
 * 6. Remove default margin and padding
 */
 ul,
 ol {
  list-style: none; /* 5 */
  margin: 0; /* 6 */
  padding: 0; /* 6 */
 }

/**
 * 7. Form element font inheritance
 */
input,
button,
textarea,
select {
  font: inherit;
}

/**
 * 8. Remove default Border
 * 9. Remove default margin and padding
 */
 fieldset {
   border: none; /* 8 */
   margin: 0; /* 9 */
   padding: 0; /* 9 */
 }

/**
 * 10. Remove default padding
 */
 legend {
  padding: 0; /* 10 */
 }
